.site-header {
  position: relative;
  padding: 10px 15px;
  background: $header-background;
  color: white;
  @include clearfix;
  @include breakpoint(mobile_nav) {
    height: $header-height-large;
  }

  &__container {
    position: relative;
    @include container;
  }

  &__logo {
    float: left;
    width: 80px;
    height: 50px;
    background: url('/images/wb-logo-white.svg');
    background-size: cover;
    overflow: hidden;
    text-indent: -999px;
    @include breakpoint(mobile_nav) {
      background-image: url('/images/wb-logo-white-desktop.svg');
      width: 180px;
      height: 121px;
      margin-top: 20px;
    }
  }

  &__menu-toggle {
    @include clearbutton;
    position: absolute;
    overflow: hidden;
    top: 9px;
    right: 15px;
    width: 32px;
    height: 32px;
    background: url('/images/menu-icon.png');
    background-size: cover;
    text-indent: -999px;
    cursor: pointer;
    @include breakpoint(mobile_nav) {
      display: none;
    }
  }
}