@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin breakpoint($point) {
  @if $point == mobile_nav {
     @media (min-width: $mobile-nav-breakpoint-min) { @content ; }
  }
}

@mixin clearbutton {
  appearance: none;
  border: 0;
  outline: 0;
  border-radius: 0;
}

@mixin container {
  max-width: $container-max-width;
  margin: 0 auto;
}